@use '@/styles/colors' as *;

.blog {
  background-color: $light-color;
  padding: 60px 0;
}

.swiperWrapper {
  margin-top: 3rem;
  position: relative;
  padding-top: 3rem;
  overflow: hidden;
}

.testimonioHover {
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    rgba(15, 45, 61, 1) 0%,
    transparent 8%,
    transparent 92%,
    rgba(15, 45, 61, 1) 100%
  );
  border-radius: 30px;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
  transition: 0.3s ease;

  span {
    padding: 0 1rem;
    color: $main-color;
    font-size: 3rem;
    width: 50%;

    &:last-child { text-align: right; }
  }
}

.swiperWrapper:hover .testimonioHover {
  opacity: 1;
}

@media screen and (max-width: 990px) {
  .blog { text-align: center; }

  .testimonioHover {
    align-items: flex-start;
    padding: 3rem 1rem;
  }
}
