@use '@/styles/colors' as *;

.teamBox {
  max-width: 370px;
  height: 420px;
  margin: 0 auto;
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 100%;
  padding: 0 5px 10px 0;

  p { color: $main-color; }
  p:nth-child(2),
  p:nth-child(3) { color: $black-color; }
}

@media screen and (max-width: 991px) {
  .teamBox {
    padding-top: 4rem;
  }
}
